force-app/main/default/flows/aig_AI_Use_Case_Stakeholders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AI_Use_Case_Stakeholder_to_AI_Use_Case_Stakeholders_Collection</name>
        <label>AI Use Case Stakeholder to AI Use Case Stakeholders Collection</label>
        <locationX>270</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oAIUseCaseStakeholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_New_Stakeholder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AI_Stakeholder_Name_from_Input</name>
        <label>Assign AI Stakeholder Name from Input</label>
        <locationX>402</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>oAIStakeholder.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_New_Stakeholder.StakeholderName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NEW_AI_Stakeholder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AI_Stakeholder_Stakeholder_Data</name>
        <label>Assign AI Stakeholder Stakeholder Data</label>
        <locationX>138</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>oAIStakeholder.aig_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatable_contacts.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIStakeholder.aig_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatable_Users.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIStakeholder.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_New_Stakeholder.StakeholderName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NEW_AI_Stakeholder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stakeholder_to_AI_Use_Case_Stakeholders_Collection</name>
        <label>Assign Stakeholder to AI Use Case Stakeholders Collection</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oAIUseCaseStakeholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Existing_Stakeholder_to_Assoicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stakeholder_to_Use_Case</name>
        <label>Assign Stakeholder to Use Case</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_Other_Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_AI_Use_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_Responsibilities__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_AI_Stakeholder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Existing_Stakeholder_to_Assoicate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Stakeholder_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_IN_record_where_Stakeholder_is_already_assigned</name>
        <label>Create IN record where Stakeholder is already assigned</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vStakeholderIncludedAlready</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_Stakeholder_Already_Assigned_to_Use_Case.aig_AI_Stakeholder__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Stakeholder_Already_Assigned_to_Use_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_AI_Stakeholder_ID_to_AI_Use_Case_Stakeholder</name>
        <label>New AI Stakeholder ID to AI Use Case Stakeholder</label>
        <locationX>270</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_AI_Stakeholder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAIStakeholder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_New_Stakeholder.StakeholderRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_Other_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_New_Stakeholder.Other_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_Responsibilities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_New_Stakeholder.Responsibilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseStakeholder.aig_AI_Use_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AI_Use_Case_Stakeholder_to_AI_Use_Case_Stakeholders_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_and_Assign_New_Stakeholders</name>
        <label>Create and Assign New Stakeholders</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_and_Assign_New_Stakeholders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stakeholders_New.AllItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_each_New_Stakeholder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Stakeholders_to_Associate_to_Use_Case</name>
        <label>Existing Stakeholders to Associate to Use Case</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_and_Assign_New_Stakeholders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Stakeholders_to_Associate_to_Use_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stakeholders_to_Add.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_each_Existing_Stakeholder_to_Assoicate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Existing_Contact_and_or_User_are_found</name>
        <label>If Existing Contact and/or User are found?</label>
        <locationX>270</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Assign_AI_Stakeholder_Name_from_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Contact_and_or_User_are_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Contact</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Associated_User</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Users_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vPLStakeholderRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>aig_Role__c</picklistField>
        <picklistObject>aig_AI_Use_Case_Stakeholder__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AI Use Case Stakeholders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Use Case Stakeholders</label>
    <loops>
        <name>for_each_Existing_Stakeholder_to_Assoicate</name>
        <label>for each Existing Stakeholder to Assoicate</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <collectionReference>datatable_Exisiting2SelectFrom.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Stakeholder_to_Use_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Association_for_AI_Use_Case_Stakeholders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_New_Stakeholder</name>
        <label>for each New Stakeholder</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <collectionReference>Stakeholders_New.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Associated_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_AI_Stakeholders_for_AI_Use_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_Stakeholder_Already_Assigned_to_Use_Case</name>
        <label>for each Stakeholder Already Assigned to Use Case</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Stakeholders_for_Use_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_IN_record_where_Stakeholder_is_already_assigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Stakeholders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_AI_Stakeholders_for_AI_Use_Case</name>
        <label>Create New AI Stakeholders for AI Use Case</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <inputReference>oAIUseCaseStakeholders</inputReference>
    </recordCreates>
    <recordCreates>
        <name>NEW_AI_Stakeholder</name>
        <label>AI Stakeholder</label>
        <locationX>270</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>New_AI_Stakeholder_ID_to_AI_Use_Case_Stakeholder</targetReference>
        </connector>
        <inputReference>oAIStakeholder</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_Association_for_AI_Use_Case_Stakeholders</name>
        <label>New Association for AI Use Case Stakeholders</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_and_Assign_New_Stakeholders</targetReference>
        </connector>
        <inputReference>oAIUseCaseStakeholders</inputReference>
    </recordCreates>
    <recordLookups>
        <name>All_Stakeholders</name>
        <label>Stakeholders</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stakeholders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>vStakeholderIncludedAlready</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_Contact</name>
        <label>Get Associated Contact</label>
        <locationX>270</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Existing_Contact_and_or_User_are_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_New_Stakeholder.StakeholderEmail.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_User</name>
        <label>Get Associated User</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Associated_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_New_Stakeholder.StakeholderEmail.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Stakeholders_for_Use_Case</name>
        <label>Stakeholders for Use Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_Stakeholder_Already_Assigned_to_Use_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Use_Case_Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Assign_Existing_Stakeholder_Role</name>
        <label>Assign Existing Stakeholder Role</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Stakeholder_to_AI_Use_Case_Stakeholders_Collection</targetReference>
        </connector>
        <fields>
            <name>DT_ExistingStakeholderRoleInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Provide the Roles/Responsibilities for {!for_each_Existing_Stakeholder_to_Assoicate.Name}:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oAIUseCaseStakeholder.aig_AI_Stakeholder__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oAIUseCaseStakeholder.aig_Role__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oAIUseCaseStakeholder.aig_Other_Role__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>oAIUseCaseStakeholder.aig_Role__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oAIUseCaseStakeholder.aig_Responsibilities__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Associate_Users_Contacts</name>
        <label>Associate Users/Contacts</label>
        <locationX>138</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AI_Stakeholder_Stakeholder_Data</targetReference>
        </connector>
        <fields>
            <name>DT_Found_Associated_User_or_Contact</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;It looks like the email address you selected is associated to the following user(s)/contact(s).  Please select the user/contact associated to this stakeholder.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Associate_Users_Contacts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Associate_Users_Contacts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>datatable_Users</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated User(s)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Associated_User</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2faa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Username&quot;,&quot;guid&quot;:&quot;column-4a9d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Username&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Associate_Users_Contacts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>datatable_contacts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated Contact(s)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Associated_Contact</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-deb7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stakeholders</name>
        <label>Stakeholders</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_Stakeholders_to_Associate_to_Use_Case</targetReference>
        </connector>
        <fields>
            <name>DT_Stakeholder_Info</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following Stakeholder(s) have already been associated with this Use Case:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatable_Stakeholders</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>aig_AI_Use_Case_Stakeholder__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Use Case Stakeholders</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Stakeholders_for_Use_Case</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;aigov__aig_Stakeholder_Name__c&quot;,&quot;guid&quot;:&quot;column-d530&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Stakeholder Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;aigov__aig_Role__c&quot;,&quot;guid&quot;:&quot;column-3a34&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Role&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Stakeholders_to_Add</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you have additional Stakeholders to Add?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SELECT_STAKEHOLDER_TO_ADD</name>
            <fieldText>SELECT STAKEHOLDER(S) TO ADD</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SELECT_STAKEHOLDER_TO_ADD_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>datatable_Exisiting2SelectFrom</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>aig_AI_Stakeholder__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select from Exiting Stakeholders</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>All_Stakeholders</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bf95&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;AI Stakeholder Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BrandNewStakeholder</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Do you have a NEW Stakeholder not already available?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Stakeholders_to_Add.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stakeholders_to_Add.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_New_Stakeholder</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To add new Stakeholder(s), please provide their information below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BrandNewStakeholder.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stakeholders_New</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>StakeholderName</name>
                <dataType>String</dataType>
                <fieldText>Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>StakeholderEmail</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>abc@example.com</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>StakeholderRole</name>
                <choiceReferences>vPLStakeholderRole</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Role</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Other_Role</name>
                <dataType>String</dataType>
                <fieldText>Other Role</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Stakeholders_New.AllItems[$EachItem].StakeholderRole</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Other</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Responsibilities</name>
                <fieldText>Responsibilities</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isDisabled>
                    <booleanValue>false</booleanValue>
                </isDisabled>
                <isReadOnly>
                    <booleanValue>false</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BrandNewStakeholder.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stakeholders_for_Use_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Risk_Packet_Question__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Risk_Packet_Question__c</objectType>
    </variables>
    <variables>
        <name>oAIRiskPacketQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Risk_Packet_Question__c</objectType>
    </variables>
    <variables>
        <name>oAIStakeholder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Stakeholder__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseStakeholder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Stakeholder__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseStakeholders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Stakeholder__c</objectType>
    </variables>
    <variables>
        <name>oRiskPacketQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>aig_AI_Risk_Packet_Question__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumActiveRiskPacketQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumofActiveRiskPackets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vStakeholderIncludedAlready</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
