force-app/main/default/flows/aig_AI_Use_Case_Risk_Packet_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Count_for_Answered_Questions</name>
        <label>Assign Count for Answered Questions</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vAnsweredQuestions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Answered_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Packet_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_for_Unanswered_Questions</name>
        <label>Assign Count for Unanswered Questions</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vUnansweredQuestions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Unanswered_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Answered_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rows_Selected_Count</name>
        <label>Assign Rows Selected Count</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vRowsSelectUnanswered</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>datatable_Unanswered.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRowsSelectedAnswered</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>datatable_Answered.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>debug</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Responses_Updating</name>
        <label>Number of Responses Updating</label>
        <locationX>176</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>vTotalResponsestoUpdate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>oAIUseCaseRiskResponses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AI_Use_Case_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Question_Response</name>
        <label>Question Response</label>
        <locationX>156</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Risk_Packet_Question_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LWC_QA.responseLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Unanswered_Question_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Likelihood__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LWC_QA.likelihood</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LWC_QA.impact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Question_Response2</name>
        <label>Question Response</label>
        <locationX>156</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Answered_Question.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Risk_Packet_Question_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LWC_QA2.responseLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Likelihood__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LWC_QA2.likelihood</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LWC_QA2.impact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Responses2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Question_Responses</name>
        <label>Question Responses</label>
        <locationX>156</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRiskResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oAIUseCaseRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Unanswered_Question_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Question_Responses2</name>
        <label>Question Responses</label>
        <locationX>156</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRiskResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oAIUseCaseRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Answered_Question</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Answered_Questions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Answered Questions</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Unanswered_Questions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Risk_Packet_Questions_for_Use_Case</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Unanswered_Questions.aig_Risk_Packet_Question_Response__c</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_for_Answered_Questions</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Unanswered_Questions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Unanswered Questions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Unanswered_Questions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Risk_Packet_Questions_for_Use_Case</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Unanswered_Questions.aig_Risk_Packet_Question_Response__c</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_for_Unanswered_Questions</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>At_least_1_Answered_Question_Selected</name>
        <label>At least 1 Answered Question Selected</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Number_of_Responses_Updating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_At_least_1_Answered_Question_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAnsweredQuestions</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRowsSelectedAnswered</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_each_Answered_Question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>At_least_1_Unanswered_Question_Selected</name>
        <label>At least 1 Unanswered Question Selected</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>At_least_1_Answered_Question_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_At_least_1_Unanswered_Question_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUnansweredQuestions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRowsSelectUnanswered</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_each_Unanswered_Question_Selected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>aig Use Case Risk Packet Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Use Case Risk Packet Questions</label>
    <loops>
        <name>for_each_Answered_Question</name>
        <label>for each Answered Question</label>
        <locationX>68</locationX>
        <locationY>1814</locationY>
        <collectionReference>datatable_Answered.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Previously_Answered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_of_Responses_Updating</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_Unanswered_Question_Selected</name>
        <label>for each Unanswered Question Selected</label>
        <locationX>68</locationX>
        <locationY>1106</locationY>
        <collectionReference>datatable_Unanswered.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>At_least_1_Answered_Question_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Risk_Packet_Questions_for_Use_Case</name>
        <label>Get Risk Packet Questions for Use Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unanswered_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>aig_From_Risk_Packet__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Use_Case_Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AI_Use_Case_Risks</name>
        <label>AI Use Case Risks</label>
        <locationX>176</locationX>
        <locationY>2522</locationY>
        <inputReference>oAIUseCaseRiskResponses</inputReference>
    </recordUpdates>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>At_least_1_Unanswered_Question_Selected</targetReference>
        </connector>
        <fields>
            <name>dt_debug1</name>
            <fieldText>&lt;p&gt;Unanswered: {!vUnansweredQuestions}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Selected Unanswered: {!vRowsSelectUnanswered}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Selected Answered: {!vRowsSelectedAnswered}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Answered: {!vAnsweredQuestions}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Packet_Questions</name>
        <label>Packet Questions</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Rows_Selected_Count</targetReference>
        </connector>
        <fields>
            <name>DT_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select the questions to respond to below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Packet_Questions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Packet_Questions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_NoUnansweredQuestions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 182, 6);&quot;&gt;There are no unanswered questions from the Risk Packet at this time.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUnansweredQuestions</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>datatable_Unanswered</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>aig_AI_Use_Case_Risk__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Questions Pending Response</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Unanswered_Questions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;aigov__aig_Risk__c&quot;,&quot;guid&quot;:&quot;column-329b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Question&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Risk&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vUnansweredQuestions</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Packet_Questions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>datatable_Answered</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>aig_AI_Use_Case_Risk__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Already Responded</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Answered_Questions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;aigov__aig_Risk__c&quot;,&quot;guid&quot;:&quot;column-3a9d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Question&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Risk&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;aigov__aig_Risk_Packet_Question_Response__c&quot;,&quot;guid&quot;:&quot;column-1ace&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Response&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Risk Packet Question Response&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Previously_Answered</name>
        <label>Previously Answered</label>
        <locationX>156</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Question_Response2</targetReference>
        </connector>
        <fields>
            <name>LWC_QA2</name>
            <extensionName>aigov:aigMultipleChoicePLGen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowRecordId</name>
                <value>
                    <elementReference>for_each_Answered_Question.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Question</name>
        <label>Question</label>
        <locationX>156</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Question_Response</targetReference>
        </connector>
        <fields>
            <name>DT_debug</name>
            <fieldText>&lt;p&gt;first response&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LWC_QA</name>
            <extensionName>aigov:aigMultipleChoicePLGen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowRecordId</name>
                <value>
                    <elementReference>for_each_Unanswered_Question_Selected.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Risk_Packet_Questions_for_Use_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Copy_1_of_Unanswered_Questions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseRiskResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAnsweredQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vRowsSelectedAnswered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vRowsSelectUnanswered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vTotalResponsestoUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vUnansweredQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
