force-app/main/default/flows/aig_AI_Use_Case_Active_Compliance_Checklist_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Active_Compliance_Checklist_Questions</name>
        <label>Assign Active Compliance Checklist Questions</label>
        <locationX>466</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>vNumActiveComplianceChecklistQuestions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Active_Compliance_Checklist_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Compliance_Checklist_Questions_to_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Active_Risk_Packets</name>
        <label>Assign Number of Active Risk Packets</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vNumofActiveComplianceChecklists</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Active_Compliance_Checklists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Compliance_Checklists_to_Apply_to_Use_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Question_to_Collection</name>
        <label>Assign Question to Collection</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>oAIComplianceChecklistQuestions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oAIComplianceChecklistQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Selected_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Compliance_Checklist_Question_Selected</name>
        <label>Assign to Compliance Checklist Question Selected</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>oAIComplianceChecklistQuestion.aig_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Selected_Question.aig_Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIComplianceChecklistQuestion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Selected_Question.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIComplianceChecklistQuestion.aig_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Selected_Question.aig_Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIComplianceChecklistQuestion.aig_Default_Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Selected_Question.aig_Default_Decision_Maker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIComplianceChecklistQuestion.aig_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Selected_Question.aig_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Question_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_IN_records_where_question_is_already_assigned</name>
        <label>Create IN records where question is already assigned</label>
        <locationX>554</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vQuestionsIncludedAlready</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_Question_Already_Assigned.aig_AI_Compliance_Checklist_Question__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Question_Already_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_Selected_by_User_to_Assign</name>
        <label>Number Selected by User to Assign</label>
        <locationX>466</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>vNumSelected</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>datatable_Compliance_Checklist_Questions.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Questions_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Questions_Selected</name>
        <label>Questions Selected?</label>
        <locationX>466</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>for_each_Active_Compliance_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Questions_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vNumActiveComplianceChecklistQuestions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_each_Selected_Question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Questions_Selected</name>
        <label>Were Questions Selected?</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Were_Questions_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oAIComplianceChecklistQuestions</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Compliance_Checklist_Questions_to_AI_Use_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AI Use Case Active Compliance Checklist Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Use Case Active Compliance Checklist Selection</label>
    <loops>
        <name>for_each_Active_Compliance_Checklist</name>
        <label>for each Active Compliance Checklist</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>datatable_Compliance_Checklists.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>for_each_Question_Already_Assigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Were_Questions_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_Question_Already_Assigned</name>
        <label>for each Question Already Assigned</label>
        <locationX>466</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Active_Questions_Already_Assigned_to_Use_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_IN_records_where_question_is_already_assigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Active_Compliance_Checklist_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_Selected_Question</name>
        <label>for each Selected Question</label>
        <locationX>358</locationX>
        <locationY>1514</locationY>
        <collectionReference>datatable_Compliance_Checklist_Questions.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Compliance_Checklist_Question_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>for_each_Active_Compliance_Checklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Active_Questions_Already_Assigned_to_Use_Case</name>
        <label>Get Active Questions Already Assigned to Use Case</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Active_Risk_Packets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>aig_AI_Compliance_Checklist_Question__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Use_Case_Risk__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>aig_AI_Compliance_Checklist_Question__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Compliance_Checklist_Questions</name>
        <label>Get All Active Compliance Checklist Questions</label>
        <locationX>466</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Active_Compliance_Checklist_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>aig_AI_Compliance_Checklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_Active_Compliance_Checklist.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>vQuestionsIncludedAlready</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Compliance_Checklist_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Compliance_Checklists</name>
        <label>Get All Active Compliance Checklists</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Questions_Already_Assigned_to_Use_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Compliance_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Compliance_Checklist_Questions_to_Assign</name>
        <label>Select Compliance Checklist Questions to Assign</label>
        <locationX>466</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Number_Selected_by_User_to_Assign</targetReference>
        </connector>
        <fields>
            <name>DT_Compliance_Checklist_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Compliance Checklist: {!for_each_Active_Compliance_Checklist.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Active Questions NOT already assigned: {!vNumActiveComplianceChecklistQuestions}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatable_Compliance_Checklist_Questions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>aig_AI_Compliance_Checklist_Question__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Compliance Questions to Apply to the Use Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Active_Compliance_Checklist_Questions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;aigov__aig_Question__c&quot;,&quot;guid&quot;:&quot;column-c83c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Question&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;aigov__aig_Response_Type__c&quot;,&quot;guid&quot;:&quot;column-c511&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Response Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vNumActiveComplianceChecklistQuestions</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_No_Active_Compliance_Checklist_Questions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;There are no Compliance Checklist Questions that have not already been assigned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vNumActiveComplianceChecklistQuestions</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Compliance_Checklists_to_Apply_to_Use_Case</name>
        <label>Select Compliance Checklists to Apply to Use Case</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>for_each_Active_Compliance_Checklist</targetReference>
        </connector>
        <fields>
            <name>DT_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Active&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Compliance Checklist(s) are shown below, please select all that apply to this AI Use Case.  Each question will be created as a risk to track the response and allow for further feedback.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatable_Compliance_Checklists</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>aig_AI_Compliance_Checklist__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the Compliance Checklist(s) to Assign to the Use Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Active_Compliance_Checklists</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-55f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;AI Compliance Checklist Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;aigov__aig_Num_of_Active_Questions__c&quot;,&quot;guid&quot;:&quot;column-ee62&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;# of Active Questions&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vNumofActiveComplianceChecklists</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_No_Active_Compliance_Checklists</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;There are no &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Active&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; Compliance Checklists at this time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vNumofActiveComplianceChecklists</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Active_Compliance_Checklists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Compliance_Checklist_Questions_to_AI_Use_Case</name>
        <label>Assign Compliance Checklist Questions to AI Use Case</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <flowName>aig_Auto_Assign_Compliance_Checklist_Questions</flowName>
        <inputAssignments>
            <name>oAIComplianceChecklistQuestions</name>
            <value>
                <elementReference>oAIComplianceChecklistQuestions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>oAIComplianceChecklistQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Compliance_Checklist_Question__c</objectType>
    </variables>
    <variables>
        <name>oAIComplianceChecklistQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Compliance_Checklist_Question__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumActiveComplianceChecklistQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumofActiveComplianceChecklists</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vQuestionsIncludedAlready</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
