force-app/main/default/flows/aig_Auto_Assign_Risk_Packet_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_AI_Use_Case_Stakeholder_Id</name>
        <label>Assign AI Use Case Stakeholder Id</label>
        <locationX>1546</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_matches.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_to_Collection_to_Process</name>
        <label>Assign Input to Collection to Process</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Active_Risk_Packet_Questions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oRiskPacketQuestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AI_Use_Case_Stakeholders_Already_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_of_AI_Use_Case_Risks</name>
        <label>Assign to Collection of AI Use Case Risks</label>
        <locationX>1458</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oAIUseCaseRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Active_Risk_Packet_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_Stakeholders_Already_Assigned</name>
        <label>List of Stakeholders Already Assigned</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vStakeholdersAlreadyAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_Stakeholder_Already_Assigned_to_Use_Case.aig_AI_Stakeholder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vtest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_Stakeholder_Already_Assigned_to_Use_Case.aig_AI_Stakeholder__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Stakeholder_Already_Assigned_to_Use_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Question_to_AI_Use_Case_Risk</name>
        <label>Question to AI Use Case Risk</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_AI_Use_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Active_Risk_Packet_Question.aig_Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_AI_Risk_Packet_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Active_Risk_Packet_Question.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Active_Risk_Packet_Question.aig_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AI_Use_Case_Stakeholders_Filter_for_Match</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>AI_Use_Case_Stakeholders_Filter_for_Match</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>AI Use Case Stakeholders Filter for Match</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_AI_Use_Case_Stakeholders_Filter_for_Match</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AI_Use_Case_Stakeholders_Already_Assigned</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_AI_Use_Case_Stakeholders_Filter_for_Match.aig_AI_Stakeholder__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>for_each_Active_Risk_Packet_Question.aig_Default_Decision_Maker__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_matches</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Questions_Passed_from_Manual_Selection</name>
        <label>Questions Passed from Manual Selection</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_All_Active_Risk_Packets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Questions_Passed_from_Manual_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oRiskPacketQuestions</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_to_Collection_to_Process</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Stakeholder_already_on_Use_Case</name>
        <label>Was Stakeholder already on Use Case?</label>
        <locationX>1458</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>AI_Use_Case_Stakeholder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create Stakeholder</defaultConnectorLabel>
        <rules>
            <name>Yes_Was_Stakeholder_already_on_Use_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>oAIUseCaseRisk.aig_Decision_Maker__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>for_each_Active_Risk_Packet_Question.aig_Default_Decision_Maker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Collection_of_AI_Use_Case_Risks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Assign Risk Packet Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Assign Risk Packet Questions</label>
    <loops>
        <name>for_each_Active_Risk_Packet</name>
        <label>for each Active Risk Packet</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_All_Active_Risk_Packets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Active_Risk_Packet_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AI_Use_Case_Risks_from_Active_AI_Risk_Packets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_Active_Risk_Packet_Question</name>
        <label>for each Active Risk Packet Question</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_All_Active_Risk_Packet_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Question_to_AI_Use_Case_Risk</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>for_each_Active_Risk_Packet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_Stakeholder_Already_Assigned_to_Use_Case</name>
        <label>for each Stakeholder Already Assigned to Use Case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>AI_Use_Case_Stakeholders_Already_Assigned</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_of_Stakeholders_Already_Assigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>for_each_Active_Risk_Packet_Question</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_matches</name>
        <label>Loop through matches</label>
        <locationX>1458</locationX>
        <locationY>890</locationY>
        <collectionReference>AI_Use_Case_Stakeholders_Filter_for_Match</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_AI_Use_Case_Stakeholder_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_Stakeholder_already_on_Use_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AI_Use_Case_Stakeholder</name>
        <label>AI Use Case Stakeholder</label>
        <locationX>1546</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>oAIUseCaseRisk.aig_Decision_Maker__c</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_to_Collection_of_AI_Use_Case_Risks</targetReference>
        </connector>
        <inputAssignments>
            <field>aig_AI_Stakeholder__c</field>
            <value>
                <elementReference>for_each_Active_Risk_Packet_Question.aig_Default_Decision_Maker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aig_AI_Use_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aig_Responsibilities__c</field>
            <value>
                <stringValue>Default Assignee for Packet Question </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aig_Role__c</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>aig_AI_Use_Case_Stakeholder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_AI_Use_Case_Risks_from_Active_AI_Risk_Packets</name>
        <label>Create AI Use Case Risks from Active AI Risk Packets</label>
        <locationX>930</locationX>
        <locationY>1766</locationY>
        <inputReference>oAIUseCaseRisks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AI_Use_Case_Stakeholders_Already_Assigned</name>
        <label>AI Use Case Stakeholders Already Assigned</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_Stakeholder_Already_Assigned_to_Use_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Use_Case_Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Risk_Packet_Questions</name>
        <label>Get All Active Risk Packet Questions</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_Active_Risk_Packet_Question</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Risk_Packet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_Active_Risk_Packet.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>aig_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Risk_Packet_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Risk_Packets</name>
        <label>Get All Active Risk Packets</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_Active_Risk_Packet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Risk_Packet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Questions_Passed_from_Manual_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_AI_Use_Case_Stakeholders_Filter_for_Match</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Stakeholder__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>oRiskPacketQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Risk_Packet_Question__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCountMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vStakeholdersAlreadyAssigned</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vtest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
