force-app/main/default/flows/aig_AI_Use_Case_Compliance_Checklist_Question_Stakeholder_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_AI_Use_Case_Risk_to_Collection</name>
        <label>Add AI Use Case Risk to Collection</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRiskstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oAIUseCaseRisktoUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Selected_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Decision_Maker_Stakeholder</name>
        <label>Assign Decision Maker/Stakeholder</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisktoUpdate.aig_Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatable_StakeholdersAvailable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisktoUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Selected_Question.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AI_Use_Case_Risk_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_still_unassigned_compliance_questions</name>
        <label>Are there still unassigned compliance questions?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>All_Questions_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Are_there_still_unassigned_compliance_questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AI_Use_Case_Risks_from_Compliance_Checklist_with_no_Decision_Maker</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AI_Use_Case_Stakeholders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stakeholders_Assigned_to_Use_Case</name>
        <label>Stakeholders Assigned to Use Case?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>NoStakeholdersAssignedtoUseCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Stakeholders_Assigned_to_Use_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AI_Use_Case_Stakeholders</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AI Use Case Compliance Checklist Question Stakeholder Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Use Case Compliance Checklist Question Stakeholder Assignment</label>
    <loops>
        <name>for_each_Selected_Question</name>
        <label>for each Selected Question</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>datatable_QuestionsUnassigned.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Decision_Maker_Stakeholder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_AI_Use_Case_Risks_w_Decision_Maker</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AI_Use_Case_Risks_from_Compliance_Checklist_with_no_Decision_Maker</name>
        <label>AI Use Case Risks from Compliance Checklist with no Decision Maker</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_still_unassigned_compliance_questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>aig_From_Compliance_Checklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>aig_Decision_Maker__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Use_Case_Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AI_Use_Case_Stakeholders</name>
        <label>AI Use Case Stakeholders</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stakeholders_Assigned_to_Use_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Use_Case_Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AI_Use_Case_Risks_w_Decision_Maker</name>
        <label>Update AI Use Case Risks w/ Decision Maker</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AI_Use_Case_Risks_from_Compliance_Checklist_with_no_Decision_Maker</targetReference>
        </connector>
        <inputReference>oAIUseCaseRiskstoUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>All_Questions_Assigned</name>
        <label>All Questions Assigned</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_All_Assigned</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;All Compliance Checklist Questions have been assigned for this AI Use Case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoStakeholdersAssignedtoUseCase</name>
        <label>No Stakeholders Assigned to Use Case</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_No_Stakeholders_Assigned</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Stakeholders must be assigned to the Use Case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Question_Assignment</name>
        <label>Question Assignment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>for_each_Selected_Question</targetReference>
        </connector>
        <fields>
            <name>DT_Instructions_Question2Stakeholder_Assignment</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Unassigned &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;questions are presented below.  Select the Compliance Checklist Question(s) and the corresponding Stakeholder to assign to below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question_Assignment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Question_Assignment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>datatable_QuestionsUnassigned</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>aig_AI_Use_Case_Risk__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Compliance Questions to Assign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AI_Use_Case_Risks_from_Compliance_Checklist_with_no_Decision_Maker</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;aigov__aig_Risk__c&quot;,&quot;guid&quot;:&quot;column-0fcb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Question&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Risk&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Question_Assignment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>datatable_StakeholdersAvailable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>aig_AI_Use_Case_Stakeholder__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Available Stakeholders to Assign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AI_Use_Case_Stakeholders</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;aigov__aig_Stakeholder_Name__c&quot;,&quot;guid&quot;:&quot;column-a2ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Stakeholder Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;aigov__aig_Role__c&quot;,&quot;guid&quot;:&quot;column-2e57&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AI_Use_Case_Risks_from_Compliance_Checklist_with_no_Decision_Maker</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>oAIUseCaseRiskstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseRisktoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
