force-app/main/default/flows/aig_Create_Test_Case_from_Risk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Default_Values_to_Test_Case</name>
        <label>Assign Default Values to Test Case</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>rvarCreateRiskTestCase.aig_AI_Use_Case_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AI_Risk.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCreateRiskTestCase.aig_AI_Use_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AI_Risk.aig_AI_Use_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values for rich text fields as a workaround to limitation of screen fields</description>
        <name>Assign_Rich_Text_Values</name>
        <label>Assign Rich Text Values</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rvarCreateRiskTestCase.aig_Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objective</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCreateRiskTestCase.aig_Expected_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Outcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTestCase</targetReference>
        </connector>
    </assignments>
    <description>Copies over required information from a risk into a test case</description>
    <environments>Default</environments>
    <formulas>
        <description>creates a dynamic link to navigate to newly created Test Case record</description>
        <name>fCreateDynamicLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_600}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_600})) &amp; &quot;/lightning/r/aig_AI_Use_Case_Test__c/&quot; &amp; {!varNewTestCaseId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>aig Create Test Case from Risk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>aig Create Test Case from Risk</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTestCase</name>
        <label>Create Test Case</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Created_Test_Case</targetReference>
        </connector>
        <inputReference>rvarCreateRiskTestCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AI_Risk</name>
        <label>Get AI Risk</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Default_Values_to_Test_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>aig_AI_Use_Case_Risk__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>aig_AI_Use_Case__c</queriedFields>
        <queriedFields>aig_Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Test_Case</name>
        <label>Get Created Test Case</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarCreateRiskTestCase.Id</elementReference>
            </value>
        </filters>
        <object>aig_AI_Use_Case_Test__c</object>
        <outputAssignments>
            <assignToReference>varNewTestCaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNewTestCaseNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayTestCaseCreatedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(89, 176, 143);&quot;&gt;Success!&lt;/strong&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt; &lt;/strong&gt;&lt;a href=&quot;{!fCreateDynamicLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(2, 2, 2);&quot;&gt;&lt;strong&gt;Test Case # {!varNewTestCaseNumber} &lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;has been created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Test_Case</name>
        <label>Test Case</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Rich_Text_Values</targetReference>
        </connector>
        <fields>
            <name>Test_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Test_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarCreateRiskTestCase.aig_AI_Use_Case_Risk__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarCreateRiskTestCase.aig_Description__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Objective</name>
                    <fieldText>Objective</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Expected_Outcome</name>
                    <fieldText>Expected Outcome</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Test_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarCreateRiskTestCase.aig_AI_Use_Case__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarCreateRiskTestCase.aig_AI_Lifecycle_Stage__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rvarCreateRiskTestCase.aig_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AI_Risk</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvarCreateRiskTestCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Test__c</objectType>
    </variables>
    <variables>
        <name>varNewTestCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewTestCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
