force-app/main/default/flows/aig_Auto_Assign_Compliance_Checklist_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_AI_Use_Case_Existing_Stakeholder_Id</name>
        <label>Assign AI Use Case Existing Stakeholder Id</label>
        <locationX>2822</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AI_Use_Case_Stakeholder_Check.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection_of_AI_Use_Case_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AI_Use_Case_New_Stakeholder_Id</name>
        <label>Assign AI Use Case New Stakeholder Id</label>
        <locationX>3086</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AI_Use_Case_Stakeholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection_of_AI_Use_Case_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_to_Collection_to_Process</name>
        <label>Assign Input to Collection to Process</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Active_Compliance_Checklist_Questions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAIComplianceChecklistQuestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>for_each_Active_Compliance_Checklist_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_of_AI_Use_Case_Risks</name>
        <label>Assign to Collection of AI Use Case Risks</label>
        <locationX>3152</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oAIUseCaseRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Active_Compliance_Checklist_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Question_to_AI_Use_Case_Risk</name>
        <label>Question to AI Use Case Risk</label>
        <locationX>3152</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_AI_Use_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Active_Compliance_Checklist_Question.aig_Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Active_Compliance_Checklist_Question.aig_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_AI_Compliance_Checklist_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_Active_Compliance_Checklist_Question.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAIUseCaseRisk.aig_Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_default_Decision_Maker_for_Question</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Stakeholder_already_assigned_to_AI_Use_Case</name>
        <label>Is Stakeholder already assigned to AI Use Case?</label>
        <locationX>2954</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>AI_Use_Case_Stakeholder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create Stakeholder</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Stakeholder_already_assigned_to_AI_Use_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AI_Use_Case_Stakeholder_Check.aig_AI_Stakeholder__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AI_Use_Case_Existing_Stakeholder_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_default_Decision_Maker_for_Question</name>
        <label>Is there a default Decision Maker for Question?</label>
        <locationX>3152</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Collection_of_AI_Use_Case_Risks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_there_a_default_Decision_Maker_for_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_each_Active_Compliance_Checklist_Question.aig_Default_Decision_Maker__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AI_Use_Case_Stakeholder_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questions_Passed_from_Manual_Selection</name>
        <label>Questions Passed from Manual Selection?</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_All_Active_Compliance_Checklists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Questions_Passed_from_Manual_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oAIComplianceChecklistQuestions</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_to_Collection_to_Process</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Assign Compliance Checklist Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Assign Compliance Checklist Questions</label>
    <loops>
        <name>for_each_Active_Compliance_Checklist</name>
        <label>for each Active Compliance Checklist</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_All_Active_Compliance_Checklists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Active_Compliance_Checklist_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AI_Use_Case_Risks_from_AI_Compliance_Checklists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_Active_Compliance_Checklist_Question</name>
        <label>for each Active (or Selected) Compliance Checklist Question</label>
        <locationX>2734</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_All_Active_Compliance_Checklist_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Question_to_AI_Use_Case_Risk</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>for_each_Active_Compliance_Checklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AI_Use_Case_Stakeholder</name>
        <label>AI Use Case Stakeholder</label>
        <locationX>3086</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Assign_AI_Use_Case_New_Stakeholder_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>aig_AI_Stakeholder__c</field>
            <value>
                <elementReference>for_each_Active_Compliance_Checklist_Question.aig_Default_Decision_Maker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aig_AI_Use_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aig_Responsibilities__c</field>
            <value>
                <stringValue>Automatically Assigned from Compliance Checklist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aig_Role__c</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>aig_AI_Use_Case_Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AI_Use_Case_Risks_from_AI_Compliance_Checklists</name>
        <label>Create AI Use Case Risks from AI Compliance Checklists</label>
        <locationX>1898</locationX>
        <locationY>1766</locationY>
        <inputReference>oAIUseCaseRisks</inputReference>
    </recordCreates>
    <recordLookups>
        <description>See if the Decision Maker has already been assigned</description>
        <name>AI_Use_Case_Stakeholder_Check</name>
        <label>AI Use Case Stakeholder Check</label>
        <locationX>2954</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Stakeholder_already_assigned_to_AI_Use_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>aig_AI_Stakeholder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_Active_Compliance_Checklist_Question.aig_Default_Decision_Maker__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>aig_AI_Use_Case_Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Compliance_Checklist_Questions</name>
        <label>Get All Active Compliance Checklist Questions</label>
        <locationX>2734</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_Active_Compliance_Checklist_Question</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_AI_Compliance_Checklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_each_Active_Compliance_Checklist.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>aig_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Compliance_Checklist_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Compliance_Checklists</name>
        <label>Get All Active Compliance Checklists</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_Active_Compliance_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aig_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aig_AI_Compliance_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Questions_Passed_from_Manual_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_AI_Use_Case_Stakeholders_Filter_for_Match</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Stakeholder__c</objectType>
    </variables>
    <variables>
        <name>oAIComplianceChecklistQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Compliance_Checklist_Question__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>oAIUseCaseRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>aig_AI_Use_Case_Risk__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStakeholdersAlreadyAssigned</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
